
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Manage your daily finances and the loans you got from and gave to your friends</p>
        <p>Today is: @ViewBag.CurrentDate</p>
    </div>
</body>
</html>
